/* ========== Common css ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

.btn {
  border: none;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #30b868;
}

.btn:hover {
  color: #000000;
  border: 1px solid #30b868;
  background: transparent;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #30b868;
  border: 2px solid #ececec;
}

.color-green {
  color: #30b868;
}

/* ======== Main css ========== */
/* ----- navbar css ---- */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .logo {
  padding: 16px 0;
}

.nav-container .menu ul {
  display: flex;
  align-items: center;
}

.nav-container .menu ul li {
  list-style: none;
}

.nav-container .menu ul li a {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.nav-container .menu .middle {
  margin: 0 32px;
}

/* ----- banner css ----- */
#banner-section {
  padding: 116px 0 180px;
  max-height: 675px;
  background: url("../images/hero-bg.png"), #001930cc;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-container {
  color: #ffffff;
  text-align: center;
  padding: 0 295px;
}

.banner-container .access {
  max-width: 230px;
  color: #30b868;
  display: flex;
  gap: 6px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
}

.banner-container h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  margin-top: 16px;
  text-transform: capitalize;
}

.banner-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.banner-container .banner-btn {
  display: flex;
  gap: 16px;
  justify-content: center;
}

/* ----- notes css ----- */
#notes-section {
  padding-top: 36px;
}

#notes-section .notes-title {
  text-align: center;
  margin-bottom: 44px;
}

#notes-section .notes-title h2 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: capitalize;
}

#notes-section .notes-title p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

#notes-section .notes-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

#notes-section .notes-card {
  max-width: 322px;
  text-align: center;
  border-radius: 8px;
  padding: 70px 24px;
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 0 8px 0 #0000009a;
}

#notes-section .notes-card:hover {
  border: 1px solid #30b868;
  box-shadow: 0 0 0px 0 #0000009a;
}

#notes-section .notes-card .icon {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

#notes-section .notes-card h4 {
  color: #001931;
  margin: 16px 0;
  font-size: 24px;
  font-weight: 600;
}

#notes-section .notes-card p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

/* ----- brain css ----- */
#brain-section {
  padding: 120px 0;
}

#brain-section .brain-container {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.brain-container .brain-right {
  padding-right: 200px;
}

.brain-container .brain-right h3 {
  color: #30b868;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.brain-container .brain-right h2 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.brain-container .brain-right p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.brain-container .brain-right ul li {
  color: #001931;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  list-style: none;
}

.brain-container .brain-right ul li i {
  color: #30b868;
}

/* ------ early access css ---- */
#early-access {
  margin-bottom: 120px;
}

#early-access .early-content {
  padding: 80px 40px;
  text-align: center;
  background-color: #f7f6f2;
}

#early-access .early-content h2 {
  color: #001931;
  font-size: 40px;
  font-weight: 700;
}

#early-access .early-content p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}

#early-access .early-content .first-p {
  margin-bottom: 24px;
}
